.carousel {
    margin-bottom: 40px;
    margin-top: 50px;
}

.carousel-caption {
    z-index: 10;
}

@media (max-width: 992px) {
    .carousel-inner p {
        font-size: 14px;
    }

    .carousel-inner h1 {
        font-size: 26px;
    }
}

@media (max-width: 768px) {
    .carousel-inner p {
        font-size: 12px;
    }

    .carousel-inner h1 {
        font-size: 22px;
    }
}

@media (max-width: 500px) {
    .carousel-inner p {
        display: none;
    }

    .carousel-inner h1 {
        font-size: 12px;
    }
}

.breadcrumb {
    margin-top: 110px;
    margin-bottom: 15px;
}

/* STILE MENU ORIZZONTALE */

ul.menuor {
    list-style: none;
    margin: 0px;
    padding: 0px;
    list-style: none;
    border: 0px;
    vertical-align: middle;
    background-color: #f5f5f5;
    border: 12px;
    border-color: #f5f5f5;
    border-radius: 4px;
}

ul.menuor li {
    display: block;
    margin: 0px;
    padding: 10px;
}

.from_personal:after {
    content: "_";
    color: white;
}

.input-small {
    display: block;
    margin: 10px;
}

.rimuovi {
    position: relative;
    top: 10px;
    left: 10%;
}

.align-right {
    text-align: right;
}

img.logo-cart {
    width: 7em;
    margin: 15px 0px 15px 0px;
}

.breadcrumb-cart {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
}

.breadcrumb-cart > li {
    display: inline-block;
    color: #777;
}

.breadcrumb-cart > li + li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}

.breadcrumb-cart > .active {
    color: #b78600;
}

.strong {
    font-weight: bold;
}

.carosello {
    text-shadow: 2px 2px 8px #000;
}

.ui-group-buttons .or {
    position: relative;
    float: left;
    width: .3em;
    height: 1.3em;
    z-index: 3;
    font-size: 12px
}

.ui-group-buttons .or:before {
    position: absolute;
    top: 50%;
    left: 50%;
    content: 'or';
    background-color: white;
    margin-top: -.1em;
    margin-left: -.9em;
    width: 1.8em;
    height: 1.8em;
    line-height: 1.55;
    color: black;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    border-radius: 500px;
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box
}

.ui-group-buttons .or:after {
    position: absolute;
    top: 0;
    left: 0;
    content: ' ';
    width: .3em;
    height: 2.84em;
    background-color: rgba(0, 0, 0, 0);
    border-top: .6em solid white;
    border-bottom: .6em solid white;
}

.ui-group-buttons .or.or-lg {
    height: 1.3em;
    font-size: 16px
}

.ui-group-buttons .or.or-lg:after {
    height: 2.85em
}

.ui-group-buttons .or.or-sm {
    height: 1em
}

.ui-group-buttons .or.or-sm:after {
    height: 2.5em
}

.ui-group-buttons .or.or-xs {
    height: .25em
}

.ui-group-buttons .or.or-xs:after {
    height: 1.84em;
    z-index: -1000
}

.ui-group-buttons {
    display: inline-block;
    vertical-align: middle
}

.ui-group-buttons:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.ui-group-buttons .btn {
    float: left;
    border-radius: 0;
    width: 100px;
}

.ui-group-buttons .btn {
    margin-left: 0;
    border-top-left-radius: .25em;
    border-bottom-left-radius: .25em;
    padding-right: 15px
}

.ui-group-buttons .btn {
    border-top-right-radius: .25em;
    border-bottom-right-radius: .25em;
    padding-left: 15px
}

.ui-group-buttons .btn-success {
    margin-bottom: 10px;
    margin-right: 10px;
}




