.carousel {
    margin-bottom: 40px;
    margin-top: 50px;
}

.carousel-caption {
    z-index: 10;
}

@media (max-width: 992px) {
    .carousel-inner p {
        font-size: 14px;
    }

    .carousel-inner h1 {
        font-size: 26px;
    }
}

@media (max-width: 768px) {
    .carousel-inner p {
        font-size: 12px;
    }

    .carousel-inner h1 {
        font-size: 22px;
    }
}

@media (max-width: 500px) {
    .carousel-inner p {
        display: none;
    }

    .carousel-inner h1 {
        font-size: 12px;
    }
}

.breadcrumb {
    margin-top: 110px;
    margin-bottom: 15px;
}

/* STILE MENU ORIZZONTALE */

ul.menuor {
    list-style: none;
    margin: 0px;
    padding: 0px;
    list-style: none;
    border: 0px;
    vertical-align: middle;
}

ul.menuor li {
    background-color: #ebebeb;
    display: block;
    margin: 0px;
    padding: 10px;
}
